<app-spinner *ngIf="executaSpinner"></app-spinner>

<!-- <app-input-file (submit)="onUpload()"></app-input-file> -->

<div class="container">
  <div class="file-upload" [ngClass]="{ 'disabled': tipoInclusao !== TipoInclusao.Txt }">
    <input type="file" [disabled]="tipoInclusao !== TipoInclusao.Txt" id="file-input"
      (change)="onFileSelected(fileInput)" #fileInput accept=".txt" hidden>
    <label for="file-input" class="file-input-label">
      <i class="fas fa-cloud-upload-alt"></i>
      <span>{{ fileName || 'Escolha o arquivo...' }}</span>
    </label>
    <button style="margin-left: 10px; padding: 21px;" [disabled]="tipoInclusao !== TipoInclusao.Txt || !fileName"
      mat-raised-button color="primary" (click)="onUpload()">
      ENVIAR
    </button>
  </div>
</div>
