<app-spinner *ngIf="executaSpinner"></app-spinner>

<div class="container">
  <div class="file-upload">
    <label class="file-input-label">
      <i class="fas fa-cloud-upload-alt"></i>
      <span>
        <input type="file" id="file-input" (change)="onFileSelected(fileInput)" #fileInput accept="application/pdf">
        {{ fileName || 'Escolha o arquivo...' }}
      </span>
    </label>
  </div>
</div>

<div style="text-align: right;" *ngIf="areas.length > 0">
  <button mat-raised-button color="primary" (click)="submit()">
    SALVAR
  </button>
</div>

<input type="text" name="" id="" [(ngModel)]="paginasSelecao">
<button (click)="selecionarPaginas()">TESTE</button>

<div class="area-principal" *ngFor="let area of areas">
  <div class="pdf-container" #pdfPreview>
    <div [id]="area.id" class="drop-area" cdkDropList [cdkDropListData]="area.pages"
      [cdkDropListConnectedTo]="getConnectedList(area.id)" (cdkDropListDropped)="drop($event)">
      <ng-container *ngFor="let page of area.pages;">
        <div class="page-container" cdkDrag>
          <img width="200" height="300" [src]="page.newPage" alt="Page {{ page.number + 1 }}" class="clickable-image"
            (click)="showImageInLightbox(page.newPage)">
          <span class="page-number">Pagina {{ page.number + 1 }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div style="margin-top: 10px;" *ngIf="areas.length > 0 && areasExcluidas.length > 0">
  <button mat-raised-button color="primary" (click)="criarNovaArea()">Criar Nova Área</button>
</div>
