<app-spinner *ngIf="executaSpinner"></app-spinner>

<div class="container">
  <div class="file-upload">
    <label class="file-input-label">
      <i class="fas fa-cloud-upload-alt"></i>
      <span>
        <input type="file" id="file-input" (change)="onFileSelected(fileInput)" #fileInput accept="application/pdf">
        {{ fileName || 'Escolha o arquivo...' }}
      </span>
    </label>
    <button style="margin-left: 10px; padding: 21px;"
      mat-raised-button color="primary" (click)="submit()">
      ENVIAR
    </button>
  </div>
</div>

<div *ngFor="let area of areas">
  <div class="pdf-container" #pdfPreview>
    <div
      [id]="area.id"
      class="drop-area"
      cdkDropList
      [cdkDropListData]="area.pages"
      [cdkDropListConnectedTo]="getConnectedList(area.id)"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let page of area.pages;">
        <div class="page-container" cdkDrag>
          <img [src]="page.newPage" alt="Page {{ page.number + 1 }}">
          <span class="page-number">Pagina {{ page.number + 1 }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
