form {
  margin-top: 25px;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

@media (max-width: 1080px) {
  .full-width {
    grid-column: 1 / -1;
  }

  .mid-width {
    grid-column: 1 / -2;
  }
}

.submit-button {
  justify-content: flex-end;
  display: flex;
  bottom: 12px;
  position: relative;
  margin-top: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
