.content{
  padding: 20px;
}

.list-logo-dark {
  background: #706e6e;
  height: 50px;
}

.list-logo-light {
  height: 50px;
}

.container {
  height: 100%;
}

.sidenav {
  width: 200px;
  visibility: visible;
}

.collapsed-sidenav[_ngcontent-ng-c1627811999] {
  visibility: visible;
  width: 58px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
}

.mat-icon {
  margin-right: 5px;
  margin-bottom: -4px;
}

button {
  background-color: transparent;
  color: #fff;
  border: none;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 170px;
  margin-left: 14px;
}

.logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-height: 80%;
}

.collapsed .mat-list-item-content:not(:first-child) {
  display: none;
}

.toolbar{
  margin-left: 200px !important;
}

.collapsed-toolbar{
  margin-left: 57px !important;
}

.toogle-mode span {
  color: #fff;
}
